<div class="row d-flex justify-content-center">
    <button *ngIf="!isLoggedIn" routerLink="/register" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Rejestracja</button>
    <button *ngIf="!isLoggedIn" routerLink="/" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Logowanie</button>
    <button *ngIf="isLoggedIn" (click)="logout()" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Wyloguj</button>
    <button *ngIf="isLoggedIn" routerLink="/party/list" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Lista</button>
    <button *ngIf="isLoggedIn"  routerLink="/party/add" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Dodaj</button>
</div>



