<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" href="#">Imprezownia</a>
  </logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="openLoginModal()">Zaloguj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="openRegistrationModal()">Zarejestruj</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Wydarzenia
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" data-toggle="modal" data-target="#basicExample" (click)="openPartyModal()" mdbWavesEffect
            href="#">Dodaj</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-6" type="text" placeholder="Szukaj">
      </div>
    </form>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>