<div class="container-fluid">
  <div class="row main-container">
    <agm-map [latitude]="latitude" [longitude]="longitude" [styles]="customStyles">
      <agm-marker
        class="mapMarker"
        *ngFor="let party of partyEvents; let i = index"
        [latitude]="party.latitude"
        [longitude]="party.longitude"
        [iconUrl]="url + party.partyType.filename">

        <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
          <ng-template>
            <strong>Dodał: {{ party.userCreated.username }}</strong><br>
            <strong>Tytuł: {{ party.name }}</strong>
            <p>Opis: {{ party.desc }} </p>
            <p>Liczba uczestników: {{ party.participants.length }}</p>
            <a color="success" [routerLink]="['/party/details/', party._id]" >Szczegóły...</a>
          </ng-template>
        </agm-snazzy-info-window>

      </agm-marker>
    </agm-map>
  </div>
</div>
