.avatar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  height: 300px;
  width: 300px;
}

.left-container-90 {
  height: 90%;
}
