<div class="row justify-content-center align-items-center">
  <div class="col-8">
    <!-- Grid column -->
    <div class="avatar-box">
      <img *ngIf="user" src="{{ environmentPath }}{{ user.avatar }}" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">
    </div>
    <!-- Grid column -->
    <form [formGroup]="avatarForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="iconFile" aria-describedby="inputGroupFileAddon01"
                 (change)="onFileChange($event)">
          <label  class="custom-file-label" for="iconFile">{{ fileUpload === null ? 'Wybierz plik' :  fileUpload.name }}</label>
        </div>
      </div>
      <div class="text-center">
        <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Zapisz">
      </div>
    </form>
  </div>
</div>
