<!-- navigation -->
<app-header></app-header>
<!-- navigation -->
<div class="row h-100 flex-column justify-content-center align-items-center">
    <div class="col-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p class="h5 text-center mb-4">Sign in</p>
          
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" formControlName="email" id="email" class="form-control" mdbInputDirective>
              <label for="email">Your email</label>
            </div>
          
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" formControlName="password" id="password" class="form-control" mdbInputDirective>
              <label for="password">Your password</label>
            </div>
        
            <div class="text-center">
              <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Login">
            </div>
          </form>
    </div>
</div>


  

