<div class="row h-75 justify-content-center align-items-center">

  <form class="col-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="h5 text-center mb-4">Zaloguj</p>
    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text"
             data-error="nieprawidłowy adress email"
             data-success="prawidłowy adres email"
             formControlName="email"
             id="email"
             class="form-control"
             mdbInputDirective>
      <label for="email">Email</label>
    </div>
    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password"
             formControlName="password"
             id="password" class="form-control"
             mdbInputDirective>
      <label for="password">Hasło</label>
    </div>

    <div *ngIf="error" class="cross-validation-error-message alert alert-danger">Błędne <strong>hasło</strong> lub <strong>email</strong></div>

    <div class="text-center">
      <input [disabled]='!loginForm.valid'
             type="submit"
             mdbBtn
             color="default"
             sclass="waves-light"
             mdbWavesEffect value="Login">
    </div>
  </form>
</div>


  

