<div class="container-fluid">
  <div class="row main-container">
    <div class="col-4">

      <!--Panel-->
      <div class="card">
          <div class="card-header primary-color lighten-1 white-text">
              Nowe wydarzenie:
          </div>
          <div class="card-body">
             <form [formGroup]="newParty">

                <div class="md-form">
                    <input 
                     mdbInputDirective
                     #partyName 
                     type="text" 
                     name="partyName" 
                     id="partyName"
                     class="form-control" 
                     formControlName="partyName"
                     [(ngModel)]="partyEvent.name">
                    <label for="partyName" class="">Nazwa</label>
                </div>

                <div class="md-form">
                    <input 
                     mdbInputDirective
                     #partyDesc 
                     type="text" 
                     name="partyDesc" 
                     id="partyDesc"
                     class="form-control" 
                     formControlName="partyDesc"
                     [(ngModel)]="partyEvent.desc">
                    <label for="partyDesc" class="">Opis</label>
                </div>

                <div class="md-form">
                  <input mdbInputDirective id="form1" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"
                    type="text" class="form-control" #search [formControl]="searchControl">
                </div>

                <div class="md-form">
                  <button (click)="add(partyEvent)" type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>Dodaj</button>
                </div>
              </form>
          
          </div>
      </div>
      <!--/.Panel-->

      <!--Panel-->
      <div class="card">
          <div class="card-header deep-orange lighten-1 white-text">
              Lista eventów:
          </div>
          <div class="card-body">
              <ul class="list-group">
                  <li *ngFor="let party of partyEvents"
                   class="list-group-item"><strong>{{ party.name }}</strong> Położenie: {{ party.latitude }} x {{ party.longitude }}
                  </li>
                </ul>
          </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-8">
      <agm-map 
          [latitude]="latitude"
          [longitude]="longitude">
        <agm-marker 
            class="mapMarker" 
            *ngFor="let party of partyEvents; let i = index" 
            [latitude]="party.latitude" 
            [longitude]="party.longitude"
            [markerDraggable]="party.draggable"
        >

            <agm-info-window>
              <strong>{{ party.name }}</strong>
              <p>{{ party.desc }} </p>
            </agm-info-window>

        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>