<div class="container-fluid">
  <div class="row main-container">
    <div class="col-4">

      <!--Panel-->
      <div class="card">
          <div class="card-header primary-color lighten-1 white-text">
              Nowe wydarzenie:
          </div>
          <div class="card-body">
            <!-- Login form -->
            <div class="md-form">
              <input mdbInputDirective id="form1" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"
                type="text" class="form-control" #search [formControl]="searchControl">
            </div>
            <form>
                <div class="md-form">
                    <input type="text" id="form1" class="form-control" [(ngModel)]="event.name" name="eventName">
                    <label for="form1" >Nazwa wydarzenia</label>
                </div>

                <div class="md-form">
                    <input type="text" id="form1" class="form-control" [(ngModel)]="event.desc" name="eventDesc">
                    <label for="form1" >Opis wydarzenia</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox1" [(ngModel)]="event.close" name="evemtDesc">
                  <label class="form-check-label" for="checkbox1">Zamknięta</label>
                 </div>

                 <div class="form-group">
                    <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>Dodaj</button>
                </div>

            </form>
            <!-- form -->
          </div>
      </div>
      <!--/.Panel-->

      <!--Panel-->
      <div class="card">
          <div class="card-header deep-orange lighten-1 white-text">
              Lista eventów:
          </div>
          <div class="card-body">
              <ul class="list-group">
                  <li *ngFor="let party of partyEvents"
                   class="list-group-item"><strong>{{ party.name }}</strong> Położenie: {{ party.latitude }} x {{ party.longitude }}
                  </li>
                </ul>
          </div>
      </div>
      <!--/.Panel-->
    </div>

    <div class="col-8">
      <agm-map 
          [latitude]="latitude"
          [longitude]="longitude">
        <agm-marker 
            class="mapMarker" 
            *ngFor="let party of partyEvents" 
            [latitude]="party.latitude" 
            [longitude]="party.longitude">

            <agm-info-window>
              <strong>{{ party.name }}</strong>
            </agm-info-window>

        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>