<!-- navigation -->
<app-header></app-header>
<!-- navigation -->
<div class="h-100 row justify-content-center align-items-center">
   <div class="col-8">
    <form [formGroup]="partyForm" (ngSubmit)="onSubmit()">
      <p class="h5 text-center mb-4">Add party</p>

      <div class="md-form">
          <input mdbInputDirective id="form1" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"
            type="text" class="form-control" #search [formControl]="searchControl">
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" formControlName="name" id="name" class="form-control" mdbInputDirective>
        <label for="name">Name</label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" formControlName="desc" id="desc" class="form-control" mdbInputDirective>
        <label for="desc">Description</label>
      </div>

      <div class="md-form mt-5">
        <select formControlName="type" name="options" id="select" class="browser-default md-select form-control">
          <option *ngFor="let type of partyTypes" [ngValue]="type._id">
            {{type.name}}
          </option>
        </select>
        <label class="active" for="form6">Choose your option</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input formControlName="private" type="checkbox" class="custom-control-input" id="private" checked>
        <label class="custom-control-label" for="private">Private</label>
      </div>

      <div class="text-center">
        <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Save">
      </div>
    </form>
  </div>
</div>