<div mdbModal #savePartyModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Gratulacje!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="savePartyModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Dodałeś nowe wydarzenie. Możesz je zobaczyć na mapie widocznej po prawej stronie ekranu.</p>
          <p>Czy chesz zaprosić innych uczestników?</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="toInvite()">Tak</a>
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="savePartyModal.hide()">Innym razem</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
