<div class="row h-75 justify-content-center align-items-center">

  <div class="col-8">
    <div class="example-form md-form">
      <input mdbInputDirective aria-label="State" placeholder="Wyszukaj użytkownika" [matAutocomplete]="auto" [formControl]="stateCtrl" id="form1" class="form-control" [mdbValidate]="false">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="selected($event, user)" *ngFor="let user of filteredUsers | async" [value]="user.username">
          <img class="example-option-img" aria-hidden [src]="environmentPath + user?.avatar " height="25">
          <span>{{ user.username }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div *ngIf="inviteList; else loading" class="col-8">
    <h5>Lista zaproszeń</h5>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between" *ngFor="let invite of inviteList">
        <div class="d-flex align-items-center">
          <img style="width: auto; height: 23px;" src="{{ environmentPath }}{{ invite?.userInvited.avatar }}" alt="avatar" class="rounded-circle img-fluid">
          {{ invite.userInvited.username }}
        </div>
        <button *ngIf="!invite.send" size="sm" mdbBtn type="button" color="default" outline="true" mdbWavesEffect (click)="sendInvite(invite._id)">Wyślij zaproszenie</button>
        <button *ngIf="invite.send" [disabled]="true" size="sm" mdbBtn type="button" color="default" outline="true" mdbWavesEffect (click)="sendInvite(invite._id)">Wysłano zaproszenie</button>
      </li>
    </ul>
  </div>

  <ng-template #loading>
    <div class="col-8">
      <div class="alert alert-success" role="alert">
        Brak zaproszeń
      </div>
    </div>
  </ng-template>

</div>
