<div class="row h-75 justify-content-center align-items-center">

  <form class="col-8 example-form" >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Wyszukaj użytkownika" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="selected($event, user)"  *ngFor="let user of filteredUsers | async" [value]="user.username">
          <img class="example-option-img" aria-hidden [src]="user?.avatar" height="25">
          <span>{{ user.username }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between" *ngFor="let invite of inviteList ">
        <div class="d-flex align-items-center">{{ invite.userInvited.username }}</div>
        <button size="sm" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Wyślij zaproszenie</button>
      </li>
    </ul>
  </div>

</div>

