<!-- News jumbotron -->
<div *ngIf="party$ | async as party" class="jumbotron text-center hoverable p-4">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid"
             alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <!-- Excerpt -->
      <a class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i>{{ party.partyType?.name }}</h6>
      </a>
      <h4 class="h4 mb-4">{{ party.name }}</h4>
      <p class="font-weight-normal">{{ party.desc }}.</p>
      <p class="font-weight-normal"><a><strong>{{ party.userCreated.username }}</strong></a>, {{ party.createdDate | date: 'dd/MM/yyyy' }}</p>
      <!--check is user created or take part in party-->
      <a *ngIf="!userInParty" mdbBtn color="success" (click)="addParticipant(party._id)" mdbWavesEffect>Dołącz</a>
      <a *ngIf="userInParty" mdbBtn color="success" (click)="removeParticipant(party._id)" mdbWavesEffect>Zrezygnuj</a>
      <!--show button only to user who create party-->
      <ng-container *ngIf="(user$ | async) as userLogged">
        <a *ngIf="userLogged?._id === party.userCreated._id"mdbBtn color="success" [routerLink]="['/party/invite/', party._id]" mdbWavesEffect>Zaproś</a>
      </ng-container>

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <!--participants list-->
  <h4 class="card-title h4 pb-2 text-left">Lista uczestników</h4>
  <ul *ngIf="party.participants.length" class="list-group">
    <li *ngFor="let participant of party.participants" class="list-group-item">
      <img style="width: auto; height: 23px;" src="{{ environmentPath }}{{ participant?.avatar }}" alt="avatar" class="rounded-circle img-fluid">
      {{ participant?.username }}
    </li>
  </ul>
  <ul *ngIf="!party.participants.length" class="list-group">
    <li class="list-group-item">Brak uczestników</li>
  </ul>
  <!--participants list-->
</div>
<!-- News jumbotron -->
