<div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
  <a routerLink="/user/profile" mdbBtn href="#" role="button" color="info" mdbWavesEffect routerLinkActive="active">Profil</a>
  <a routerLink="/user/avatar" mdbBtn href="#" role="button" color="info" mdbWavesEffect routerLinkActive="active">Avatar</a>
  <a routerLink="/user/password" mdbBtn href="#" role="button" color="info" mdbWavesEffect routerLinkActive="active">Hasło</a>
</div>
<!-- Routed views go here -->
<router-outlet></router-outlet>
<!-- Routed views go here -->
