<div class="h-75 row justify-content-center align-items-center">
  <div class="col-8">
    <form [formGroup]="updatePassword" (ngSubmit)="onSubmit()">
      <p class="h5 text-center mb-4">Zmiana hasła</p>

      <div class="md-form">
        <i class="fa fa-eye-slash prefix grey-text"></i>
        <input type="password" formControlName="oldPassword" id="oldPassword" class="form-control" mdbInputDirective>
        <label for="oldPassword">Obecne hasło</label>
      </div>

      <div class="md-form">
        <i class="fa fa-eye-slash prefix grey-text"></i>
        <input type="password" formControlName="newPassword" id="newPassword" class="form-control" mdbInputDirective>
        <label for="newPassword">Nowe hasło</label>
      </div>

      <div class="md-form">
        <i class="fa fa-eye-slash prefix grey-text"></i>
        <input type="password" formControlName="newPasswordRepeat" id="newPasswordRepeat" class="form-control" mdbInputDirective>
        <label for="newPasswordRepeat">Powtórz nowe haslo</label>
      </div>

      <div *ngIf="updatePassword.errors?.diff && (updatePassword.get('newPasswordRepeat').touched || updatePassword.get('newPasswordRepeat').dirty)" class="cross-validation-error-message alert alert-danger">
        Podane hasła nie pasują do siebie!
      </div>

      <div class="text-center">
        <input [disabled]="!updatePassword.valid" type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Zapisz">
      </div>
    </form>
  </div>
</div>
