<!-- navigation -->
<app-header></app-header>
<!-- navigation -->

<div class="h-100 row flex-column justify-content-center align-items-center">
  <div class="col-6">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <p class="h5 text-center mb-4">Sign in</p>
          
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" formControlName="username" id="username" class="form-control" mdbInputDirective>
              <label for="username">Your name</label>
            </div>
          
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" formControlName="email" id="email" class="form-control" mdbInputDirective>
              <label for="email">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" formControlName="password" id="password" class="form-control" mdbInputDirective>
                <label for="password">Your password</label>
              </div>

            <div class="md-form">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" formControlName="repeatPassword"  id="repeatPassword" class="form-control" mdbInputDirective>
                  <label for="repeatPassword">Repeat password</label>
            </div>
        
            <div class="text-center">
              <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Sign up">
            </div>
          </form>
    </div>
</div>


<!-- modal after success registration -->
<div mdbModal #content="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" (onShow)="onShow($event)">
  <div class="modal-dialog modal-notify modal-success" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <p class="heading lead">Zarejestrowałeś się w aplikacji!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>W tej chwili na Twoją pocztę został wysłany link aktywacyjny konto. Proszę zaloguj się na konto pocztowe które podałeś w rejestracji i kliknij link aktywujący.</p>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <a routerLink="/" type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="content.hide()" data-dismiss="modal">Strona główna</a>
      </div>
    </div>
  </div>
</div>
<!-- modal after success registration -->
